/* Fuentes */

@font-face {
    font-family: 'Gaegu';
    src: url('../gaegu/Gaegu-Bold.ttf');
    src: local('Gaegu');
    src: url('../gaegu/Gaegu-Bold.ttf#Gaegu') format('truetype');
    src: url('../gaegu/Gaegu-Bold.ttf') format('truetype');   
}

@font-face {
    font-family: 'GaeguRegular';
    src: url('../gaegu/Gaegu-Regular.ttf');
    src: local('Gaegu Regular');
    src: url('../gaegu/Gaegu-Regular.ttf#GaeguRegular') format('truetype');
    src: url('../gaegu/Gaegu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'GaeguLuz';
    src: url('../gaegu/Gaegu-Light.ttf');
    src: local('Gaegu Luz');
    src: url('../gaegu/Gaegu-Light.ttf#GaeguLuz') format('truetype');
    src: url('../gaegu/Gaegu-Light.ttf') format('truetype');    
}

/* Tamaño Fuentes*/

$size1: 18px;
$size2: 22px;
$size3: 23px;
$size4: 24px;
$size5: 25px;
$size6: 27px;
$size7: 32px;
$size8: 35px;
$size9: 40px;
