@mixin cookids($ancho) {
    color: crimson;
<<<<<<< HEAD
    padding-left: 20px;
=======
>>>>>>> 23f0ee50ab119cbe63bbe65a0e825440b45d69ac
    background-color: #f7bfe0; 
    border: 1px solid #f1c40f;
    width: $ancho ;
    text-align: justify;
    font-family: 'Gaegu';
    font-size: $size8;
    font-style: italic;
    font-variant: small-caps;
    text-decoration: underline;
    
}