/* Navegable */

.navegable {
    width: 100%;
<<<<<<< HEAD
    margin: 40px auto;
    position: relative;
    left: 10px;
    bottom: 230px;
=======
    margin: 30px auto;
    position: relative;
    left: 10px;
    top: 5px;
>>>>>>> 23f0ee50ab119cbe63bbe65a0e825440b45d69ac
    display: flex;
    justify-content: space-around;
    font-size: $size5;

    .nav-list {
<<<<<<< HEAD
        background-color: #fa729f;
        border: double black;
        color: black;
        font-family: 'Gaegu';
       
=======
        /*position: relative;*/
        background-color: #fa729f;
        border: double black;
        padding: 10px 16px;
        color: black;
        font-family: 'Gaegu';
>>>>>>> 23f0ee50ab119cbe63bbe65a0e825440b45d69ac

        .nav-link {
            color: black;

            &:hover {
                color: #FF0000;                
            }            

        }
    }
<<<<<<< HEAD

    @media screen and (max-width: 960px) {
        position: relative;
        left: 80px;

    }

    @media screen and (max-width: 400px) {
        
    }

    
=======
>>>>>>> 23f0ee50ab119cbe63bbe65a0e825440b45d69ac
}


/*Submenu*/

.dropdown-menu {
    background-color: #ffc6c7;
    font-size: $size1;
}

<<<<<<< HEAD
/* Navegable Final*/

.navegable2 {
    width: 100%;
    margin: 40px auto;
    position: relative;
    left: 10px;
    display: flex;
    justify-content: space-around;
    font-size: $size5;

    .nav-list {
        background-color: #fa729f;
        border: double black;
        padding: 10px 16px;
        color: black;
        font-family: 'Gaegu';
       

        .nav-link {
            color: black;

            &:hover {
                color: #FF0000;                
            }            

        }
    }

    
}


=======
>>>>>>> 23f0ee50ab119cbe63bbe65a0e825440b45d69ac
