/* Navegable */

.navegable {
    width: 100%;
    margin: 30px auto;
    position: relative;
    left: 10px;
    top: 5px;
    display: flex;
    justify-content: space-around;
    font-size: $size5;

    .nav-list {
        /*position: relative;*/
        background-color: #fa729f;
        border: double black;
        padding: 10px 16px;
        color: black;
        font-family: 'Gaegu';

        .nav-link {
            color: black;

            &:hover {
                color: #FF0000;                
            }            

        }
    }
}


/*Submenu*/

.dropdown-menu {
    background-color: #ffc6c7;
    font-size: $size1;
}

